.d-title
{
    width: 95%;
    color: #5603AD;
    background-color: #b3e9c7;
    padding: 5px;
    margin: 7px;
    text-align: center;
    font-weight: bold;
}

.d-box 
{
    justify-content: center;
}

.d-column
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
