body {
  direction: rtl;
  text-align: right;
  margin: 0;
  border: none;
  padding: 0;
  font-family: 'Arial (Hebrew)', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

